.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    flex-wrap: wrap;
    height: 20%;
}

.logo {
    width: 68px;
    height: 68px;
}

.toggle-menu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  border-bottom: 2px solid rgb(115, 117, 111);
  width: 250px;
  background: #d1d1c9;
  box-shadow: 6px 6px 6px 4px rgb(148, 147, 132);
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
}

.toggle-menu a:hover {
  background-color: rgb(227, 207, 238);
}

.toggle-menu input[type="checkbox"], .toggle-menu .fa-bars, .toggle-menu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

.toggle-menu .fa-bars, .toggle-menu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.toggle-menu input[type="checkbox"] {
  opacity: 0;
}

.toggle-menu {
  color: rgb(54, 46, 59);
  position: relative;
  top: 0;
  right: 0;
  z-index: 9999;
  min-height: 48px;
}

.header-nav {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  display: none;
}

.toggle-menu nav {
  display: none;
}

.toggle-menu input:checked ~ nav {
  display: block;
}

.toggle-menu input:checked ~ .fa-bars {
  display: none;
}

.toggle-menu input:not(:checked) ~ .fa-times {
  display: none;
}


.img-profile {
    display: flex;
    justify-content: center;
    animation:movimiento 4s linear infinite;
}

.hi img {
    width: 118px;
    height:118px;
    border: 5px double rgba(77, 64, 85, 0.192);
    border-radius: 90%;
}


.hello {
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 1.5em;
}

.hi p:last-child{
    text-align: justify;
    font-weight: normal;
}


@keyframes movimiento {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
  .hi {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .hi img {
    width: 200px;
    height:200px;
    border: 5px double rgba(77, 64, 85, 0.192);
    border-radius: 90%;
}

  .img-profile {
    margin-left: 10%;
    margin-right: 2.5%;
  }

  .hi-text {
    margin-left: 2.5%;
    margin-right: 10%;
  }

}


@media (min-width: 1000px) {
  body {
    font-size: 1.2em;
  }
  
  .logo {
    width: 110px;
    height: 110px;
}

  .toggle-menu {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .toggle-menu input[type="checkbox"] {
    display: none;
}

  .toggle-menu .fa-bars, .toggle-menu .fa-times {
    display: none;
  }

  #nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    top: 5%;
    justify-content: flex-end;
  }

  .list-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    list-style: none;
  }

  .section-link {
    display: flex;
    flex: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }

  

  .toggle-menu a {
    text-decoration: none;
    text-align: center;
    display:list-item;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: none;
    position: none;
    top: 22%;
    width: auto;
  }

  .toggle-menu a:hover {
    background-color: rgba(104, 94, 105, 0.301);
    text-decoration: underline;
  }

  .hi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

  .hi img {
    width: 250px;
    height:250px;
    border: 5px double rgba(77, 64, 85, 0.192);
    border-radius: 90%;
}

  .img-profile {
    margin-left: 10%;
    margin-right: 2.5%;
  }

  .hi-text {
    margin-left: 2.5%;
    margin-right: 10%;
  }

}